{% extends "_base.html"%}

{% block hero %}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Thanks Dor Adding a Snack</h1>
          <h2>{{snack.title}} Snack</h2>
          <h2> {{snack.description}}</h2>

          <div class="btns">
            <a href="{% url 'home' %}" class="btn-menu animated fadeInUp scrollto">Home</a>
            <a href="{% url 'create' %}" class="btn-book animated fadeInUp scrollto">Create</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

{% endblock %}

{% block main %}



{% endblock %}